.tilter {
    width: 100%;
    height: 50px;
    transform-style: preserve-3d
    transform: perspective(1000px);
}
.tiltertext {
    transform: translateZ(20px)
    background-image: linear-gradient(90deg, hsla(192, 80%, 51%, 1) 0%, hsla(355, 85%, 63%, 1) 100%);
}